body{
    background: #cef4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.container{
    display: flex;
    justify-content: space-around;
    margin: 10px;

}

.heading{
    color: #1e293b;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 0.75em;
    background-color: lightpink;
}
.input{
    display: flex;
    justify-content: space-between;
    gap : 0.7em;
    margin: 0 2em;
}

.input label{
    color: #64748b;
    font-size: 1em;
}
.convert{
    font-size: 1em;
    margin: auto;
}
input:hover{
    font-size: 20px;
}
.result{
    margin: 0 2em;
}
.input input {
    padding: 5px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    color: #334155;
}
.main{
    background: #ffffff;
    border: 1px solid black;
    border-radius: 1em;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result{
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
}